Repository DuckDuckStudio/Chinese_git, pull requests merged in 2024-07, with the labels that each got.

#18 docs: 更新可用winget的版本
  README.md
  README_DEV.md
  USER_HANDBOOK.md
Labels: 待发布, 文档, DEV-本地测试通过

#23 docs: 更新支持winget的版本 (v2.8)
  README.md
  README_DEV.md
  USER_HANDBOOK.md
Labels: 待发布, 文档, DEV-已完成, DEV-本地测试通过, 第三方

#35 docs: 更新支持winget的版本 v2.9
  README.md
  README_DEV.md
  USER_HANDBOOK.md
Labels: 待发布, 文档, DEV-未经测试, DEV-需要注意

#37 docs: 补全最新配置文件信息
  USER_HANDBOOK.md
Labels: 文档, 缺少, DEV-开发分支合并, DEV-本地测试通过

#40 remove: 移除Java重构版本
  java/ChineseGitUpdater.java
  java/Note：这里的重写未经验证
Labels: 其他, DEV-已完成, DEV-开发分支合并
